// Icons List - Füge hier einfach neue Icons hinzu
$icons: (
    'verticalmedia',
    'slider',
    'team',
    'textimage',
    'hero',
    'calltoaction',
    'table',
    'intro',
    'accordeon',
    'citationlist',
    'citation',
    'fullwidth',
);

// Icon Generator Loop
@each $icon in $icons {
    .popover-option-set button.stevens-icon-#{$icon}::before,
    i.stevens-icon-#{$icon},
    .menu__icon.stevens-icon-#{$icon} {
        display: inline-block;
        width: 28px;
        height: 28px;
        background: url('../styles/#{$icon}.svg');
        content: "";
        vertical-align: middle;
    }

    .menu__icon.stevens-icon-#{$icon} {
        width: 19px;
        height: 19px;
        background-size: 19px 19px;
    }
}
