// Icons List - Füge hier nur den Hauptnamen hinzu (automatisch werden -element, -page, -admin Varianten erstellt)
$icons: (
    'empty',
    'verticalmedia',
    'slider',
    'team',
    'textimage',
    'hero',
    'calltoaction',
    'table',
    'intro',
    'accordeon',
    'citationlist',
    'citation',
    'fullwidth',
    'calendar',
    'tutorial',
    'person',
    'horizontalmedia',
    'medialist',
    'news',
    'subpages',
    'lock',
    'box',
    'aperture',
    'listteaser',
    'teaser',
    'wordlist',
    'institution',
    'grid',
    'mediagrid',
    'video',
    'map',
    'marker',
    'crown',
    'cards',
    'star',
    'virtual',
    'megaphone',
    'qa',
    'social',
    'clock',
    'idea',
    'counter',
    'document',
    'documentlist',
    'documentpile',
    'footnote',
    'form',
    'formpages',
    'icon',
    'link',
    'partner',
    'persons',
    'shorttext',
    'text',
    'district',
    'project',
    'material',
    'download',
);

// Icon Varianten
$icon-variants: ('element', 'page', 'admin');

// Icon Generator Loop
@each $icon in $icons {
    @each $variant in $icon-variants {
        $icon-name: #{$icon}-#{$variant};

        .popover-option-set button.sp-icon-#{$icon-name}::before,
        i.sp-icon-#{$icon-name},
        span.sp-icon-#{$icon-name},
        .menu__icon.sp-icon-#{$icon-name} {
            content: "";
            display: inline-block;
            width: 28px;
            height: 28px;
            background: url('../icons/#{$icon-name}.svg');
            vertical-align: middle;
        }

        .btn__icon.font-icon-sp-icon-#{$icon-name}:before {
            content: "";
            display: inline-block;
            width: 28px;
            height: 28px;
            background: url('../icons/#{$icon-name}.svg');
            vertical-align: middle;
            margin-right: .76925rem;
        }

        .menu__icon.sp-icon-#{$icon-name} {
            width: 19px;
            height: 19px;
            background-size: 19px 19px;
        }

        .menu__icon.sp-icon-#{$icon-name}-currentColor {
            width: 19px;
            height: 19px;
            background-size: 19px 19px;
            mask-image: url('../icons/#{$icon-name}.svg');
            mask-size: 100% 100%;
            mask-repeat: no-repeat;
            background-color: currentColor;
        }

        .record-icon.sp-icon-#{$icon-name} {
            width: 18px;
            height: 18px;
            background-image: url('../icons/#{$icon-name}.svg');
        }
    }
}
